
#DON'T SHOW DIRECTORY LISTINGS
Options -Indexes

#FOLLOW SYMBOLIC LINKS
Options +FollowSymLinks

#SET DEFAULT HANDLER
DirectoryIndex index.php index.html index.htm

#RewriteEngine on
#WWW REWRITE
#RewriteCond %{HTTP_HOST} ^istadoc\.ga$ [NC]
#RewriteRule ^(.*)$ http://www.istadoc.ga/$1 [L,R=301]

#REDIRECT OLD PAGE
#RewriteCond %{HTTP_HOST} ^www.istadoc.ga$
#RewriteRule ^old-page.html$ http://www.istadoc.ga/new-page [R=301,L]
#redirect http non-www to https://www
RewriteCond %{HTTPS} off
RewriteCond %{HTTP_HOST} ^(www\.)?istadoc\.ga$
RewriteRule (.*) https://www.istadoc.ga/$1 [R=301,L]
#redirect https non-www to www
RewriteCond %{HTTPS} on
RewriteCond %{HTTP_HOST} ^istadoc\.ga$
RewriteRule (.*) https://www.istadoc.ga/$1 [R=301,L]
#ERROR 404 PAGE
ErrorDocument 404 /404.html

